* {
  box-sizing: border-box; /*ajusta al tamaño de la caja*/
}

body {
  margin: 0;
  font-family: system-ui, sans-serif;
  color: black;
  background-color: white;

}
/*comienzo de header*/
header {
  background-color: black;
}
#logos{
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
}
#copa img{
  width: 100px;
}
#fifa img{
  width: 191px;
}
/*fin header*/
/*comienzo de nav*/
nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  gap: 0.5rem;
  border-bottom: solid 1px #aaa;
  background-color: #eee;
}

nav a {
  display: inline-block;
  min-width: 9rem;
  padding: 0.5rem;
  border-radius: 0.2rem;
  border: solid 1px #aaa;
  text-align: center;
  text-decoration: none;
  color: #555;
}

nav a[aria-current='page'] {
  color: #000;
  background-color: #d4d4d4;
}
.activo{
  /*border-bottom: #555 solid 3px;*/
  box-shadow: 5px 4px darkgray;
}
nav a:hover{
background-color: rgba(155, 242, 222, 0.5);
}
/*fin de nav*/
/*comienzo de main*/
section{
  width: 800px;
  height: 400px;
  background-color: #555;
  margin: 0 auto;
  margin-bottom: 15px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

}
section div{
  width: 250px;
  background-color: rgba(100, 98, 94, 0.463);
  height: 200px;
  margin: 1px;

}
#intro{
  background-image: url(https://img.freepik.com/vector-premium/fondo-espacial-estrellas-brillantes-noche-estrellada-estrellas-brillantes-cielo-degradado_370567-1189.jpg);
  /*background-repeat: no-repeat;
  background-size: cover;*/
  box-shadow: 10px 8px #1717174d;
  border-radius: 15px;


}
#eeuu{
  background-image: url(../img/eeuu.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
#mx{
  background-image: url(../img/mexico.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;


}
#can{
  background-image: url(../img/canada.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  
}
/*videos*/
#video{
  width: 600px;
  height: 300px;
}

/*presentacion*/
#presentacion{
  height: 600px;
}
.videos_locales{
  background-color: #555;
 width: 600px;
  border: #000 solid 7px;
  box-shadow: #555555a0 5px 2px;
  text-align: center;
  margin: 0 auto;
}
/*fin de main*/
/* pagina estadios*/
.estadosunidos h2{
  text-align: center;
}
.mexico h2{
  text-align: center;
}
.canada h2{
text-align: center;
}
table, tr, td,th{
  border: double rgba(100, 194, 225, 0.637) 5px;
  border-collapse:collapse;
  width: 400px;
  margin: 0 auto;
  }
  tr :hover{
  background-color: #555;
  }
  td img{
  width: 200px;
  }
  
/*comienzo de footer*/

footer{
  background-color: #000;
 color: white;
 font-size: smaller;
 display: flex; /*muestra el contenido ajustado*/
 flex-wrap: wrap;
 /*align-items: center;
 justify-content: center;*/
 justify-content: space-evenly;
}
#colegio{
width: 33%;
background-color: red;
padding: 5px;

}
footer a{
  color: #aaa;
}
#alumno{
width: 33%;
background-color: yellow;
color: #aaa;
padding: 5px;
}
#sociales{
width: 33%;
background-color: lightblue;
padding: 5px;
}
#sociales img{
  width:50px;
}
/*fin de footer*/











main {
  padding: 1rem;
}

h1 {
  font-weight: bold;
  font-size: 1.5rem;
}
/*campeones*/
/*contenedor principal: divide el diseño en dos columnas(contienente y paises)*/
.campeones{
  display: grid;
  grid-template-columns: 1fr 3fr; /*25%para contiente, 75% para paises*/
  border: 2px solid #000;
  width: 100%;
}
/*columna izquierda: contientete ocupara todo elk alto disponible automaticamente*/
.continente{
  border-right: 2px solid black;
  padding: 15px 10px;
  font-weight: bold;
  font-size: 14px;
  }
  /*Columna derecha: Se convierte en otro Grid para organizar el contenido interno*/
  .paises{
  display: grid;
  grid-template-columns: 1fr 1fr;
  }
  /*El titulo del pais ocupa las dos columnas*/
  .pais{
    grid-column: span 2;
    padding: 10px;
    font-weight: bold;
    font-size: 13px;
    border-bottom: 2px solid black;
    }
  /* Las fotos se acomodan una al lado de la otra automaticamente (50% cada una)*/
    .foto{
  min-height: 120px;
  padding: 35px 10px 10px 10px;
  font-size: 11px;
  border-bottom: 2px solid black;
    }
    /* Borde vertical divisor solo en la primera foto*/
    .foto:nth-of-type(odd){
  border-right: 2px solid black;
    }
    .resenia{
  grid-column: span 2;
  padding: 10px;
  min-height: 80px;
  font-size: 11px;
    }
    /*datos de campeones*/
.paises .foto img{
  width: 100%;
}
